/*@import url("fonts.css");*/

html { 
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background:#fbfbfb;
    display:block;
    position:relative;
    margin:0;
    padding:0; 
    font-family: 'Prompt', sans-serif;
    font-size: 15px; 
    line-height:1.5;
    color:#818181;
    background-color: #fbfbfb;
    overflow-x:hidden; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
p{
    margin: 0;
}
div, ul, li { margin: 0px; padding: 0px; list-style: none; vertical-align: top;}

a:link , a:visited{ 
    text-decoration: none;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
a:hover { text-decoration:none; color: #3e3e3e;}

.clearAll { display: block; clear: both; height: 0px;}
.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
h1{
    font-size: 1.4em;
}

/* header */
header{
    height: 50px;
    width: 100%;
    background: #67a9b3;
}
header .logo{
    float: left;
    font-size: 26px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #fcd700;
    display: block;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
header .logo:hover{

}

/* board */
.head{
    width: 487px;
    height: 105px;
    background: url(../img/cdm/head.png) no-repeat;
    text-align: left;
    padding: 30px 20px 30px 50px;
}
.box-board{
    background: url(../img/cdm/bg-board.jpg);
    width: 100%;
    overflow: hidden;
    padding: 50px 0;
}
.board{
    width: 100%;
    height: 540px;
    padding: 20px;
    position: relative;
    background: url(../img/cdm/board.jpg) no-repeat center;
}
.title-board{
    background: url(../img/cdm/title-board.png) no-repeat center;
    margin-left: 20px;
    width: 487px;
    height: 105px;
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    padding: 35px 15px 10px 10px;
    text-align: center;
}
.title-board strong{
    display: inline-block;
    font-size: 18px;
    line-height: 1.2em;
    color: #333;
}
.title-board .emo{
    margin-left: 5px;
    display: inline-block;
    vertical-align: text-bottom;
}
.title-board p{
    font-size: 14px;
    padding: 5px 10px 0;
    display: block;
}
.title-board p b{
    color: #666;
    font-weight: 500;
}
.area-card{
    text-align: center;
    width: 990px;
    margin: 110px auto 0;
}
.space-card{
    display: none;
    text-align: left;
    position: relative;
    border: 2px dashed #e7e7e7;
    width: 290px;
    height: 340px;
    padding: 10px;
    margin: 0 15px;
}
.space-card .tb-sp-add{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    display: none;
}
.space-card .tb-sp-add p{
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.tb-card{
    color: #333;
    text-align: left;
    padding: 10px 10px 10px 25px;
    position: relative;
    font-size: 14px;
    line-height: 1.2em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
}
.tb-card:before{
    content: "";
    background: rgba(255,255,255,0.2);
    position: absolute;
    width: 15px;
    height: 100%;
    top: 0;
    left: 0;
}
.label{
    width: 254px;
    height: 40px;
    line-height: 44px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -127px;
    margin-top: -20px;
    z-index: 1;
    text-align: center;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    background: url(../img/cdm/bg-label.png) no-repeat center;
}
.label img{
    vertical-align: text-bottom;
}
.isSmall .tb-card{
    font-size: 12px;
}
.isPaired .label{
    display: inline-block;
}
.area-card .tb-card:nth-child(3){
    -ms-transform: rotate(-0.5deg); /* IE 9 */
    -webkit-transform: rotate(-0.5deg); /* Safari 3-8 */
    transform: rotate(-0.5deg);
}
.area-card .tb-card:nth-child(4n+1){
    -ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Safari 3-8 */
    transform: rotate(-1deg);
}
.area-card .tb-card:nth-child(3n+1){
    -ms-transform: rotate(1.3deg); /* IE 9 */
    -webkit-transform: rotate(1.3deg); /* Safari 3-8 */
    transform: rotate(1.3deg);
}
.tb-card.x{
    background: #a5d3d4;
}
.tb-card.y{
    background: #f2dd86;
}
.tb-card.picked{
    box-shadow: 0px 1px 15px rgba(255,0,102,0.8);
}
.space-card.active{
    display: inline-block;
}
.space-card .tb-sp-add.active{
    display: block;
}
.tb-card.active{
    display: inline-block;
}
.tb-sp-msg.active{
    display: block;
}
.thank{
    font-size: 34px;
    color: #333;
    font-weight: 500;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.btn-confirm,
.btn-summit{
    width: 100px;
    height: 100px;
    display: block;
    cursor: pointer;
    background: url(../img/cdm/btn-confirm.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 
}
.btn-summit{
    display: none;
    outline: none;
    border: none;
    background-image: url(../img/cdm/btn-submit.png); 
}
.box-card{
    min-height: calc(100vh - 690px);
    padding: 40px 0;
}
.box-card .tb-card{
    margin: 5px 10px;
}

/* Popup */
.open-popup{
    overflow: hidden;
    height: 100%;
    text-align: center;
}
.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.open-popup .popup{
    visibility: visible;
    opacity: 1;
}
.mesk{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
}
.inner-popup{
    width: 450px;
    padding: 40px 20px;
    color: #0a1f3a;
    text-align: center;
    background: #fff;
    border-right: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.inner-popup h1{
    color: #333;
    margin: 0 0 0.5em;
}
.btn-close{
    font-size: 22px;
    color: #67a9b3;
    width: 34px;
    line-height: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.btn-close:hover{
    color: #70bac5;
    font-size: 26px;
}
.box-cordition > div{
    display: none;
}